<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <!--登录验证码-->
    <add key="LoginValidateCodeImageUrl" value="https://kyfw.12306.cn/otn/passcodeNew/getPassCodeNew?module=login"/>
    <!--登录验证码检验-->
    <add key="LoginCodeValidateUrl" value="https://kyfw.12306.cn/otn/passcodeNew/checkRandCodeAnsyn"/>
    <!--用户注册-->
    <add key="UserRegisterUrl" value="https://kyfw.12306.cn/otn/regist/init"/>
    <!--忘记密码-->
    <add key="ForgotPasswordUrl" value="https://kyfw.12306.cn/otn/forgetPassword/initforgetMyPassword"/>
    <!--登录-->
    <add key="LoginUrl" value="https://kyfw.12306.cn/otn/login/loginAysnSuggest"/>
    <!--首页-->
    <add key="GetLoginUserNameUrl" value="https://kyfw.12306.cn/otn/index/init"/>
    <!--注销-->
    <add key="LogoutUrl" value="https://dynamic.12306.cn/otsweb/loginAction.do?method=logout" />
    <!--查票-->
    <add key="QueryTicketUrl" value="https://kyfw.12306.cn/otn/leftTicket/query"/>
    <!--联系人-->
    <add key="ContactUrl" value="https://kyfw.12306.cn/otn/passengers/query"/>
    <!--车票价格-->
    <add key="TickPriceUrl" value="https://kyfw.12306.cn/otn/leftTicket/queryTicketPrice"/>
    <!--未完成的订单 &leftmenu=Y-->
    <add key="UnCompleteOrderUrl" value=""/>
    <!--预订-->
    <add key="SubmitOrderRequestUrl" value="https://kyfw.12306.cn/otn/leftTicket/submitOrderRequest"/>
    <!--订单提交凭证-->
    <add key="OrderTokenUrl" value="https://kyfw.12306.cn/otn/confirmPassenger/initDc"/>
    <!--提交订单验证码-->
    <add key="OrderSubmitCodeUrl" value="https://kyfw.12306.cn/otn/passcodeNew/getPassCodeNew?module=passenger"/>
    <!--订单验证码检验-->
    <add key="OrderVlidateCodeUrl" value="https://kyfw.12306.cn/otn/passcodeNew/checkRandCodeAnsyn"/>
    <!--检查订单-->
    <add key="CheckOrderInfoUrl" value="https://kyfw.12306.cn/otn/confirmPassenger/checkOrderInfo"/>
    <!--队列-->
    <add key="TickQueueCountUrl" value="https://kyfw.12306.cn/otn/confirmPassenger/getQueueCount"/>
    <!--确认订单-->
    <add key="ConfirmSubmitOrderUrl" value="https://kyfw.12306.cn/otn/confirmPassenger/confirmSingleForQueue"/>
    <!--出票-->
    <add key="QueryOrderWaitTimeUrl" value="https://kyfw.12306.cn/otn/confirmPassenger/queryOrderWaitTime"/>
  </appSettings>
</configuration>
